@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
@foreach (var product in Model)
{
    <div class="col-sm-4">
        <div class="card">
            <img src="@Url.Content(product.ImageUrl)" alt="" class="img-responsive">
            <h2><a href="/home/product/@product.Id">@product.Name</a></h2>
            <h4>@product.Description</h4>
        </div>
    </div>
}
</div>
