@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <div class="card">
        <img src="~/images/seb.gif" alt="" class="img-responsive">
        <h2>Sebastian!</h2>
        </div>
        
    </div>
    
    <div class="col-sm-4">
        <div class="card">
        <img src="~/images/seb.gif" alt="" class="img-responsive">
        <h2>Sebastian!</h2>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
        <img src="~/images/seb.gif" alt="" class="img-responsive">
        <h2>Sebastian!</h2>
        </div>
    </div>
</div>